/* BACKGROUNDS */
/* General */
.login,
.cuentas,
.user-list-component,
.user-form-component {
	background-image: url("img/circulos.svg");
	background-size: cover;
	background-position: 300px 0px;
	background-repeat: no-repeat;

	@media screen and (min-width: $bp-2) {
		background-position: 500px 0px;
	}

	@media screen and (min-width: $bp-3) {
		background-position: 625px 0px;
	}

	@media screen and (min-width: $bp-4) {
		background-position: 750px 0px;
	}

	@media screen and (min-width: $bp-5) {
		background-position: 1250px 0px;
	}
}

// ELEMENT
input {
	background-color: transparent;
}

// CONTAINERS
nav {
	background-color: $aqua;

	a:hover {
		background-color: rgba(white, 0.2);
	}

	h2 {
		color: white;
	}
}

.item,
.confirmation {
	background-color: rgba($aqua, 0.8);
}

.light-bg {
	button,
	a.button {
		background-color: transparent;
		color: $dark-blue;

		&:hover {
			background-color: $dark-blue;
			color: white;
		}
	}
}

.dark-bg {
	button,
	a.button {
		background-color: transparent;
		color: white;
		border-color: white;

		&:hover {
			background-color: white;
			color: $dark-blue;
		}
	}
}

.user-form-component {
	form {
		background-color: rgba(white, 0.8);
	}
}

/* Sidebar */
.sidebar {
	background-color: $bg-color-2; // Dark blue
}

/* Actividades */
.pull-left {
	background-color: $bg-color-3;
}

.actividades {
	.row {
		background-color: $bg-color-4;
	}
}

#seleccion {
	background-color: $bg-color-2;
}